<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org/"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
        layout:decorator="layout">

<th:block layout:fragment="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Role name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role: ${list}">
            <td th:text="${role.id}">1</td>
            <td th:text="${role.name}">ADM</td>
            <td>
                <form th:action="@{/roles/{id}(id = ${role.id})" th:method="delete">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>